body{
    background-color:rgb(10, 12, 27);
    color: white;
    font-family:'Heebo', sans-serif;
}


.card{
    display: flex;
    justify-content: center;
    margin-top: 170px;

   

}



.container{
    background-color:rgb(28, 25, 56);
    display: inline-block;
    border-radius: 10px;
    
    
}

.laptop{
    float: right;
    border-radius: 0 10px 10px 0;  
    display: inline;
   
}

[title="discover"]{
    font-size: 15px;
    padding-right: 70px;
    padding-left: 50px;
    padding-top: 0;
    margin-top: -1px;
    margin-bottom: 25px;
    color: rgba(255,255,255, 0.8);

}

[title='business']{
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 0%;
    margin-bottom: -1px;
    font-size: 32px;
    
}

[title='stats'], .tenk, .three14, .twelevem{
    display: inline-block;
    font-family:sans-serif;
    padding-left: 50px;
    margin-top: 10px;
    font-size: 23px;
    margin-bottom: -20px;
}

[title='quotes'], .deskquotes{
    display: inline-block;
    font-family: 'PT Sans Caption', sans-serif;
    color: rgba(255,255,255, 0.6);
    font-size: 11px;
    padding-left: 50px;
    margin-top: -20px;
    padding-bottom: 0px;
}

.three14{
padding-left: 61px;
}

.twelevem{
padding-left: 70px;
}

img {
    filter: sepia(110%) saturate(280%) brightness(60%) hue-rotate(228deg);
  }
  
  @media screen and (max-width:650px) {
    .card{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width:650px){
    img{
width: 100%;
margin-bottom: 20px;
    }
    
}

@media screen and (max-width:650px) {
    .laptop{
        border-radius: 10px 10px 0 0;
    }
    
}

@media  screen and (max-width:650px) {
    p, h4, h2{
        text-align: center;
    }
    
}

@media screen and (max-width:650px) {
    h2{
        margin-left: 0;
        margin-right: 50px;
    }
    
}

@media screen and (max-width:650px) {
   [title="discover"] {
    margin-bottom: -60px;
     
        
     }
     
 }


@media screen and (max-width:650px) {
   [title="stats1"], .comp, .temp, .quer{
     display: block;
    
       
    }
    
}

@media screen and (max-width:650px) {
[title="stats1"]{
 font-size: 22px;
 margin-top: -50px;
}
    
     
 }

 @media screen and (max-width:650px) {
    .mob3{
      display: block;
      margin-left: 5px;
     
        
     }
     
 }

 @media screen and (max-width:650px) {
    .mob2, .mob1{
      display: block;
      margin-left: 5px;
        
     }
     
 }

 @media screen and (max-width:650px) {
   [title="stats1"]{
      margin-bottom: 10px;
      margin-top: 20px;
        
     }
     
 }

 @media screen and (max-width:650px) {
    .comp, .temp, .quer{
      font-size: 12px;
      font-family:'Heebo', sans-serif; 
      color: rgba(255,255,255, 0.6);
      }
      
  }


 @media screen and (max-width:650px) {
    .deskquotes, .tenk, .three14, .twelevem{
        visibility: hidden;

      }
      
  }

  @media screen and (min-width:651px) {
    .comp, .temp, .quer, .mob1, .mob2, .mob3{
        visibility: hidden;
        display: none;

      }
      
  }